# Dependencies
node_modules/
.pnp
.pnp.*
jspm_packages/
web_modules/

# Build
.next/
out/
build/
dist/
.output/
.nuxt/
.svelte-kit/
.docusaurus/
.serverless/

# Coverage
coverage/
.nyc_output
*.lcov

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Runtime
pids
*.pid
*.seed
*.pid.lock

# Environment
.env
.env.*
!.env.example

# Cache
.cache
.parcel-cache
.eslintcache
.stylelintcache
.firebase/
.fusebox/
.grunt

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# pnpm
.pnpm-store

# Vite
.vite/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Misc
.DS_Store
*.pem
.vercel
next-env.d.ts
*.tsbuildinfo